/* Base styling for the app */
.App {
  text-align: center;
  font-family: 'Google Sans', sans-serif;
  color: #0003f8;
}

/* Styling for the app logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100px;
  border: 3px solid #0003f8;
}

/* Animation for the app logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styling for the app header */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa; /* Light background with a hint of blue */
  border-radius: 40px;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 8px rgba(0, 3, 248, 0.2); /* Shadow with the theme color */
}

/* Styling for the app links */
.App-link {
  color: #0003f8;
  text-decoration: none;
  font-weight: 500;
}

.App-link:hover {
  text-decoration: underline;
}

/* Keyframes for logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for server status container */
.server-status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0003f8;
  margin-top: 20px;
}
